<!-- This is the template for the todos app -->

<h1>ToDos List</h1>
    <div class="controls">
        <span (click)="createtodo()" class="new-todo">Add new Todo <strong>+</strong></span>
    </div>
    <ul class="list-group form-inline">
        <li *ngfor="todo in todos" class="list-group-item completed" >
           <input [(ngmodel)]="todo.completed" type="checkbox" />
           <label (click)="todo.editing=true" [hidden]="editing" class="todo-title">{{todo.name}}</label>
           <input [(ngmodel)]="todo.name" type="text" (blur)="todo.editing = false"/>
           <button (click)="deletetodo()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
           </button>
        </li>
    </ul>

    <div *ngIf="edited==true" class="alert alert-success alert-dismissible fade in" role="alert">
        <button  type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>List Saved!</strong> Changes has been saved. Changes: {{changes}}
    </div>
